
<h3 data-toggle="collapse" data-target="#bypostLimited">By Post - Limited</h3>
<div>
    Sites that offer limited rentals per month, by post, for a lower monthly fee</div>
<div id="bypostLimited" class="collapse in">
    <table class="table">
        <thead>
            <tr>
                <th>Provider</th>
                <th><img src="/img/dvdicon.jpg" alt="films allowed at once" /></th>
                <th><img src="/img/dvdicon.jpg" alt="films allowed at once" /><img src="/img/dvdicon.jpg"
                    alt="films allowed at once" /></th>
                <th><img src="/img/dvdicon.jpg" alt="films allowed at once" /><img src="/img/dvdicon.jpg"
                    alt="films allowed at once" /><img src="/img/dvdicon.jpg" alt="films allowed at once" />
                </th>
                <th>Trial Period</th>
                <th style="vertical-align: middle"></th>
            </tr>
        </thead>
        @foreach (var provider in TheresThis.Movie.WebSite.MovieProviderFactory.GetByPostLimited())
        {
            <tr>
                <td><a href="@provider.LinkUri" target="_blank"><img src="/img/@provider.ImageUri" class="providerLogo" alt="@provider.Name" /></a>
                </td>
                <td>
                    @Html.Partial("_ByPostLimitedData", provider.PostLimited.Price1Disc)
                </td>
                <td>
                    @Html.Partial("_ByPostLimitedData", provider.PostLimited.Price2Disc)
                </td>
                <td>
                    @Html.Partial("_ByPostLimitedData", provider.PostLimited.Price3Disc)
                </td>
                <td>@provider.TrialPeriod.ToDescription()</td>
                <td><a href="@provider.LinkUri" class="btn btn-primary" target="_blank">Sign Up</a> </td>
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="6"><img src="/img/dvdicon.jpg" /> = discs allowed at once &nbsp;&nbsp;
                    <img src="/img/filmwheel_24x24.png" /> = films allowed a month</td>
            </tr>
        </tfoot>
    </table>
</div>
