<% providers = OnlineProvider.all %>

<div class="header">
    <h3 data-toggle="collapse" data-target="#providerOnline">Online</h3>
    <h4>Sites that offer unlimited viewing online for a monthly fee, or charge per single viewing</h4>
</div>
<div id="providerOnline" class="collapse in">
    <table class="table">
        <thead>
            <tr>
                <th>Provider</th>
                <th>Subscription</th>
                <th>*Pay Per View</th>
                <th>Trial Period</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% providers.each do |provider| %>
            <tr>
                <td><%= link_to provider.film_provider.name, provider.film_provider.uri %>
                </td>
                <td></td>
                <td></td>
                <td><%= provider.film_provider.trial_period %></td>
                <td><a href="@provider.LinkUri" class="btn btn-primary" target="_blank">Sign Up</a> </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
               <td colspan="5">* Prices are an average cost for a new top title release in normal definition</td>
            </tr>
        </tfoot>
    </table>
</div>
