  <ul>
    <li><%= link_to 'Home',  root_path %></li>
    <li><%= link_to 'Providers',  compare_post_limited_path %></li>
    <li><%= link_to 'Online Rentals Guide', '/guides/overview' %></li>
    <!--<li><a href="#">Reviews </a></li> -->
  </ul>