  <ul>
    <li><%= link_to 'Home',  root_path %></li>
    <li><%= link_to 'Providers',  providers_compare_path %></li>
    <li><%= link_to 'Online Rentals Guide', guides_overview_path %></li>
    <!--<li><a href="#">Reviews </a></li> -->
  </ul>