<% providers = OnlineProvider.all %>
<% lovefilm = providers[0] %>
<% netflix = providers[1] %>
<% blink = providers[2] %>
<% hmv = providers[3] %>

<% @page_title = 'Online Film Rentals comparison of online film rental providers' %>
<% @html_description ='Comparison of leading online film providers, including best prices and offers' %>
<% @html_keywords ='Online film rental, best online film provider, comparison film rental provider, LOVEFiLM, Netflix, blinkbox' %>

<div class="header">
  <h3 data-toggle="collapse" data-target="#bypostunlimited">Online - <font class="large">Streaming</font></h3>
  <h4>Sites that offer unlimited rentals per month, streamed to your device online</h4>
</div>
<div class="provider_area">
    <div class="logo">
        <%= link_to image_tag("core/logos/#{lovefilm.film_provider.image_uri}"), lovefilm.film_provider.uri %>
    </div>

    <div class="tabs menu2">
        <ul>
          <li><a href="#lv-1">Overview</a></li>
          <li><a href="#lv-2">Pricing</a></li>
          <li><a href="#lv-3">Extras</a></li>
        </ul>
        <p class="price-summary">£4.99 a month</p>
        <div id="lv-1">
            <p>  <a href="http://www.awin1.com/cread.php?s=188328&v=2605&q=100884&r=157428" style="float:right"><img src="http://www.awin1.com/cshow.php?s=188328&v=2605&q=100884&r=157428" border="0"></a>
                LOVEFiLM is an Amazon company and is the leading European film subscription service, where members can choose from a selection of over 70,000 titles available across Blu-ray, DVDs, video games and instant streaming.</p>
        </div>
        <div id="lv-2"> 
            <p>LOVEFiLM offer a subscription package at £4.99 a month which excludes latest pay per view titles</p>
        </div>
        <div id="lv-3">
            <table>
                <tr>
                    <td>30 day free trial</td>
                    <td>By Post + Instant option from £7.99 a month</td>
                </tr>
                <tr>
                    <td>Games option from £11.22 a month</td>
                    <td>Cancel anytime</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="clearing"></div>
<div class="provider_area">
    <div class="logo">
        <%= link_to image_tag("core/logos/#{netflix.film_provider.image_uri}"), netflix.film_provider.uri %>
    </div>
    <div class="tabs menu2" id="tabs1">
        <ul>
          <li><a href="#net-1">Overview</a></li>
          <li><a href="#net-2">Pricing</a></li>
           <li><a href="#net-3">Extras</a></li>
        </ul>
        <p class="price-summary">£5.99 a month</p>
        <div id="net-1">
            <p><a href="http://gan.doubleclick.net/gan_click?lid=41000613802203817&pubid=21000000000544560" style="float:right"><img src="http://gan.doubleclick.net/gan_impression?lid=41000613802203817&pubid=21000000000544560" border=0 alt="510736_Netflix 1 Month Free Trial - Instantly Watch Unlimited Films and TV Episodes"></a>Netflix is the world's leading internet subscription service for enjoying films and TV programmes. For one low monthly price, Netflix members can instantly watch films and TV programmes streamed over the internet to PCs, Macs and TVs.</p>
        </div>
        <div id="net-2"> 
            <p>Netflix offers a single subscription package at £5.99 a month</p>
        </div>
        <div id="net-3">
            <table>
                <tr>
                    <td>1 month free trial</td>
                    <td>Cancel anytime</td>
                </tr>
                <tr>
                    <td>Watch TV programmes & films anytime, anywhere</td>
                    <td>Extensive Kids zone</td>
                </tr>
            </table>
        </div>
    </div>
   <!--  <div class="banner">
        <a href="http://gan.doubleclick.net/gan_click?lid=41000613802203978&pubid=21000000000544560"><img src="http://gan.doubleclick.net/gan_impression?lid=41000613802203978&pubid=21000000000544560" border=0 alt="510736_Netflix 1 Month Free Trial - Instantly Watch Unlimited Films and TV Episodes"></a>
    </div> -->
</div>
<div class="clearing"></div>
<div class="provider_area">
    <div class="logo">
        <%= link_to image_tag("core/logos/#{blink.film_provider.image_uri}"), blink.film_provider.uri %>
    </div>
    <div class="tabs menu2">
        <ul>
          <li><a href="#bb-1">Overview</a></li>
          <li><a href="#bb-2">Example Prices</a></li>
          <li><a href="#bb-3">Extras</a></li>
        </ul>
        <p class="price-summary">£3.79 per top title</p>
        <div id="bb-1">
            <p>                                                                            <!--START MERCHANT:merchant name blinkbox from affiliatewindow.com.-->
                                                                                                    <a href="http://www.awin1.com/cread.php?s=156762&v=2481&q=91792&r=157428" style="float:right"><img src="http://www.awin1.com/cshow.php?s=156762&v=2481&q=91792&r=157428" border="0"></a>
                                                                <!--END MERCHANT:merchant name blinkbox from affiliatewindow.com-->
                                                        
                                
                                                        
                                blinkbox is the UK's leading on-demand movie streaming service, founded in 2006, blinkbox is now a proud part of Tesco. According to The Gadget Show, they're the 'Best UK movie streaming service' around.</p>
        </div>
        <div id="bb-2"> 
        <table>
                <thead>
                    <tr>
                        <th>Film</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>The Pirates! In An Adventure With Scientists</td>
                        <td>£3.49</td>
                    </tr>
                    <tr>
                        <td>Salmon Fishing in the Yemen</td>
                        <td>£3.49</td>
                    </tr>
                    <tr>
                        <td>Sherlock Holmes</td>
                        <td>£2.49</td>
                    </tr>
                </tbody>
            </table>
          
        </div>
        <div id="bb-3">
            <table>
                <tr>
                    <td>Latest blockbusters</td>
                    <td>No subscription</td>
                </tr>
                <tr>
                    <td>Rent or buy</td>
                    <td>Watch blinkbox in more ways than you can with other on-demand services</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="clearing"></div>
<div class="provider_area">
    <div class="logo">
        <%= link_to image_tag("core/logos/#{hmv.film_provider.image_uri}"), hmv.film_provider.uri %>
    </div>
    <div class="tabs menu2">

        <ul>
          <li><a href="#hmv-1">Overview</a></li>
          <li><a href="#hmv-2">Example Prices</a></li>
          <li><a href="#hmv-3">Extras</a></li>
        </ul>
         <p class="price-summary">£3.99 per top title</p>
        <div id="hmv-1">
            <p>HMV are also now in the running with their provision on online film rentals, including an offline watching mode for those with slower broadband</p>
        </div>
        <div id="hmv-2"> 
            <table>
                <thead>
                    <tr>
                        <th>Film</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>The Hunger Games</td>
                        <td>£3.99</td>
                    </tr>
                    <tr>
                        <td>Salmon Fishing in the Yemen</td>
                        <td>£3.99</td>
                    </tr>
                    <tr>
                        <td>Tinker Tailer Solder Spy</td>
                        <td>£2.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="hmv-3">
            <table>
                <tr>
                    <td>Powered by FilmFlex</td>
                    <td>No subscription</td>
                </tr>
                <tr>
                    <td>Watch films offline or online</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>


