<% providers = PostProvider.unlimited %>
<% lovefilm = providers[0] %>
<% blockbuster = providers[1] %>
<% cinema = providers[2] %>

<% @page_title = 'Online Film Rentals comparison of monthly dvd rental providers' %>
<% @html_description ='Comparison of leading online dvd rental providers, focusing on the best options available' %>
<% @html_keywords ='online DVD rental, best online dvd provider, comparison film rental services, LOVEFiLM, Blockbuster, Cinema Paradiso' %>

<div class="header">
  <h3 data-toggle="collapse" data-target="#bypostunlimited">By Post - <font class="large">Unlimited</font></h3>
  <h4>Sites that offer unlimited rentals per month, by post, for a higher monthly fee</h4>
</div>
<div class="provider_area">
    <div style="width:150px;float:left;">
    <%= link_to image_tag("core/logos/#{lovefilm.film_provider.image_uri}"), lovefilm.film_provider.uri %>
    </div>

    <div class="tabs menu2">

        <ul>
          <li><a href="#tabs-1">Overview</a></li>
          <li><a href="#tabs-2">Pricing</a></li>
          <li><a href="#tabs-3">Extras</a></li>
        </ul>
        <p class="price-summary">£13.27 with 3 discs at once + instants</p>
        <div id="tabs-1">
               <p>LOVEFiLM is an Amazon company and is the leading European film subscription service, where members can choose from a selection of over 70,000 titles available across Blu-ray, DVDs, video games and instant streaming.</p>
        </div>
        <div id="tabs-2"> 
            <table>
                <thead>
                    <tr>
                        <th>Discs Allowed</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>£7.99</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>£9.99</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>£13.27</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">All price plans include access to instant stremaing</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="tabs-3">
            <table >
                <tr>
                    <td>30 day free trial</td>
                    <td>By Post + Instant option from £7.99 a month</td>
                </tr>
                <tr>
                    <td>Games option from £11.22 a month</td>
                    <td>Cancel anytime</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="clearing"></div>
<div class="provider_area">
    <div style="width:150px;float:left">
        <%= link_to image_tag("core/logos/#{blockbuster.film_provider.image_uri}"), blockbuster.film_provider.uri %>
    </div>
    <div class="tabs menu2" id="tabs1">
        <ul>
          <li><a href="#bb-1">Overview</a></li>
          <li><a href="#bb-2">Pricing</a></li>
          <li><a href="#bb-3">Extras</a></li>
        </ul>
         <p class="price-summary">£14.99 with 3 discs at once</p>
        <div id="bb-1">
               <p>Blockbuster.co.uk has a range of online and integrated store DVD Rental plans. There are no due dates for online rentals, and the online DVDs are delivered straight to their door.</p>
        </div>
        <div id="bb-2"> 
            <table>
                <thead>
                    <tr>
                       <th>Discs Allowed</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>£7.99</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>£9.99</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>£14.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="bb-3">
            <table >
                <tr>
                    <td>14 days free trial</td>
                    <td>TOP Ticket guarantees any title</td>
                </tr>
                <tr>
                    <td>Games option for £5.99 a month</td>
                    <td>Blockbuster exclusives</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="clearing"></div>
<div class="provider_area">
    <div style="width:150px;float:left">
        <%= link_to image_tag("core/logos/#{cinema.film_provider.image_uri}"), cinema.film_provider.uri %>
    </div>
    <div class="tabs menu2">

        <ul>
          <li><a href="#cp-1">Overview</a></li>
          <li><a href="#cp-2">Pricing</a></li>
          <li><a href="#cp-3">Extras</a></li>
        </ul>
          <p class="price-summary">£15.99 with 3 discs at once</p>
        <div id="cp-1">
                <p>CinemaParadiso.co.uk is an independent online DVD and Blu-ray rental service established in early 2003 with an expanding library of over 70,000 titles and still growing. This is pretty much all released titles in the UK that are available for rental.</p>
        </div>
        <div id="cp-2"> 
        <table>
            <thead>
                <tr>
                    <th>Discs Allowed</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>£9.99</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>£12.99</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>£15.99</td>
                </tr>
            </tbody>
        </table>
          
        </div>
        <div id="cp-3">
            <table >
                <tr>
                    <td>14 days free trial</td>
                    <td>No due dates</td>
                </tr>
                <tr>
                    <td>Foreign titles galore</td>
                    <td>Cancel anytime</td>
                </tr>
            </table>
        </div>
    </div>
</div>

