<% providers = PostProvider.limited %>
<% lovefilm = providers[0] %>
<% blockbuster = providers[1] %>
<% cinema = providers[2] %>

<div class="header">
    <h3 data-toggle="collapse" data-target="#bypostLimited">By Post - <font class="large">Limited</font></h3>
    <h4>Sites that offer limited rentals per month, by post, for a lower monthly fee</h4>
</div>

<div class="provider_area">
    <div style="width:150px;float:left;">
    <%= link_to image_tag("core/logos/#{lovefilm.film_provider.image_uri}"), lovefilm.film_provider.uri %>
    </div>
    <div class="tabs menu2">
        <ul>
          <li><a href="#tabs-1">Overview</a></li>
          <li><a href="#tabs-2">Pricing</a></li>
          <li><a href="#tabs-3">Extras</a></li>
        </ul>
        <p class="price-summary">£5.99 for 3 films a month</p>
        <div id="tabs-1">
          <p>LOVEFiLM is an Amazon company and is the leading European film subscription service, where members can choose from a selection of over 70,000 titles available across Blu-ray, DVDs, video games and instant streaming.</p>
        </div>
        <div id="tabs-2"> 
         
               <table>
            <thead>
                <tr>
                    <th>Discs allowed</th>
                    <th>Rentals Per Month</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>£4.89</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>3</td>
                    <td>£5.99</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div id="tabs-3">
            <table >
                <tr>
                    <td>30 day free trial</td>
                    <td>By Post + Instant option from £7.99 a month</td>
                </tr>
                <tr>
                    <td>Games option from £11.22 a month</td>
                    <td>Cancel anytime</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="clearing"></div>

<div class="provider_area">
    <div style="width:150px;float:left">
        <%= link_to image_tag("core/logos/#{cinema.film_provider.image_uri}"), cinema.film_provider.uri %>
    </div>
    <div class="tabs menu2">
        <ul>
          <li><a href="#cp-1">Overview</a></li>
          <li><a href="#cp-2">Pricing</a></li>
          <li><a href="#cp-3">Extras</a></li>
        </ul>
        <p class="price-summary">£5.99 for 3 films a month</p>
        <div id="cp-1">
                <p>CinemaParadiso.co.uk is an independent online DVD and Blu-ray rental service established in early 2003 with an expanding library of over 70,000 titles and still growing. This is pretty much all released titles in the UK that are available for rental.</p>
        </div>
        <div id="cp-2"> 
        <table>
            <thead>
                <tr>
                    <th>Discs allowed</th>
                    <th>Rentals Per Month</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>£3.89</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>3</td>
                    <td>£5.99</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>4</td>
                    <td>£8.16</td>
                </tr>
            </tbody>
        </table>
          
        </div>
        <div id="cp-3">
            <table >
                <tr>
                    <td>14 days free trial</td>
                    <td>No due dates</td>
                </tr>
                <tr>
                    <td>Unused rentals carry over</td>
                    <td>Cancel anytime</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="provider_area">
    <div style="width:150px;float:left">
        <%= link_to image_tag("core/logos/#{blockbuster.film_provider.image_uri}"), blockbuster.film_provider.uri %>
    </div>
    <div class="tabs menu2" id="tabs1">

        <ul>
          <li><a href="#bb-1">Overview</a></li>
          <li><a href="#bb-2">Pricing</a></li>
          <li><a href="#bb-3">Extra</a></li>
        </ul>
        <p class="price-summary">£7.99 for 4 films a month</p>
        <div id="bb-1">
            <p>Blockbuster.co.uk has a range of online and integrated store DVD Rental plans. There are no due dates for online rentals, and the online DVDs are delivered straight to their door.</p>
        </div>
        <div id="bb-2"> 
            <table>
                <thead>
                    <tr>
                        <th>Discs allowed</th>
                        <th>Rentals Per Month</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>£4.99</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>3</td>
                        <td>£5.99</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>4</td>
                        <td>£7.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="bb-3">
            <table >
                <tr>
                    <td>14 days free trial</td>
                    <td>TOP Ticket guarantees any title</td>
                </tr>
                <tr>
                    <td>Games option for £5.99 a month</td>
                    <td>Blockbuster exclusives</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="clearing"></div>
<!-- 

<div id="bypostLimited" class="collapse in">
    <table class="table">
        <thead>
            <tr>
                <th>Provider</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Trial Period</th>
                <th style="vertical-align: middle"></th>
            </tr>
        </thead>
        <tbody>
        <#% providers.each do |provider| %>
            <tr>
                <td><%#= link_to image_tag("core/logos/#{provider.film_provider.image_uri}"), provider.film_provider.uri %>
                </td>
                <td><%#= render partial:"by_post_limited_data", locals:{disc:provider.one} %> </td>
                <td><%#= render partial:"by_post_limited_data", locals:{disc:provider.two} %> </td>
                <td><%#= render partial:"by_post_limited_data", locals:{disc:provider.three} %> </td>
                <td><%#= provider.film_provider.trial_period %></td>
                <td> <%#= link_to 'Sign up', provider.film_provider.uri, class:'button-link' %> </td>
            </tr>
        <%# end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</div>
 -->

