<div class="menu">
  <ul>
    <li><a class="acti" href="#">Home</a></li>
    <li><a href="#">Providers</a></li>
    <li><a href="#">Online Rentals Guide</a></li>
    <li><a href="#">Reviews </a></li>
  </ul>
</div>
<div class="logo">
  <a href="#"><%= image_tag "logo_img.png", alt:'Online Film Rental logo' %></a>
</div>
<div class="header_right">
  <div class="login">
    <ul>
      <li><a href="#">Sign up</a>|</li>        
      <li><a href="#">Login</a></li>
    </ul>
    <p>
      <a href="#"><%= image_tag "search_img.png", align:"right" %></a><input name="" type="text" value="Search your movie here" />
    </p>
  </div>
  <div class="icon_right">
    <%= image_tag "icon_img.png", align:"right" %>
  </div>
</div>