/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @charset "utf-8";
/* CSS Document */

body {
  margin: 0;
  padding: 0;
  font-family: arial, veana, helvetica, sans-serif;
  font-size: 12px;
  /*background:url(../images/bg_img.jpg) repeat;*/
  background:url('body-bg.jpg') repeat-x #071220;
  background-color: black;
  color: #D2D2D2;
}

* h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, form, input, p, ul, li {
  margin: 0;
    padding: 0;
}

h2 {
  font-family:Eras Medium ITC;
  font-size:24px;
  color:#047aa4;
}

a {
  text-decoration: none;
  outline:none;
}

a img {
  border: 0;
}

img {
  border: none;
}

#main {
  width:100%;
  height:500px;
  float:left;
  background:url('top_bg3.png') top center no-repeat;
}

#wrapper {
  width:990px;
  height:auto;
  margin:auto;
}

header {
  width:990px;
  height:auto;
  float:left;
  margin-top:7px;
}

.header_right{
  width:386px;
  height:auto;
  float:right;
  margin-top:;
}

.menu{
  width:990px;
  height:auto;
  float:left;
}

.menu ul {
  float:left;
  list-style:none;
}

.menu ul li {
  /*padding:0px 12px 0px 12px;*/
  float:left;
  /*margin:0px 5px 0px 5px;*/
  list-style:none;
  line-height:29px;
  /*border:#990000 2px solid;
  border-radius:10px;*/
}

.menu ul li a {
  font-family:arial;
  color:#fff;
  font-size:15px;
  padding:2px 14px 2px 14px;  
  display:inline-block;
  /*border:#990000 2px solid;
  border-radius:10px; */
}

.menu ul li a:hover {
  border:#990000 2px solid;
  border-radius:10px;
  padding:0px 12px 0px 12px;
}

.menu ul li a.acti {
  border:#990000 2px solid;
  border-radius:10px;
  padding:0px 12px 0px 12px;
}


/*.menu ul li:hover, .menu ul li.select {
  background:transparent url(../images/left_hover.png) 0 0 no-repeat; 
}*/

/*.menu ul li:hover a, .menu ul li.select a {
  background:transparent url(../images/right_hover.png) 100% no-repeat;
  color:#fff;
}*/

.logo{
  width:223px;
  height:auto;
  float:left;
  margin:62px 0 0 145px;
}



.icon_right{
  width:197px;
  height:auto;
  float:right;
  margin-right:-45px;
}

.login{
  width:224px;
  height:auto;
  float:left;
  margin-top:32px;
}

.login ul{
  float:right;
  margin:0px;
}

.login ul li{
  list-style:none;
  float:left;
  color:#ff8400;
}

.login ul li a{
  font-family:arial;
  font-size:13px;
  color:#ff8400;
  font-weight:bold;
  margin:0px 10px 0px 10px;
}

.login p{
  width:224px;
  float:left;
  margin-top:13px;
}

.login p input{
  width:184px;
  height:31px;
  float:left;
  font-family:arial;
  font-size:12px;
  color:#545454;
  font-style:italic;
  border:none;
  padding:0px 5px 0px 5px;
  background:url('input_img.png') no-repeat;
}

#body{
  width:990px;
  height:auto;
  float:left;
}

.banner{
  width:990px;
  height:auto;
  float:left;
  background:#09090a;
  padding-bottom:10px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
  margin-top:-51px;
}

.banner_left{
  width:231px;
  height:auto;
  float:left;
  margin:13px 0 0 10px;
  border:2px solid #09090a;
  border-radius:10px 10px 0px 0px;
}

.banner_left:hover{
  border:2px solid #990000;;
  border-radius:10px 10px 0px 0px;
}

.banner h2{
  width:107px;
  float:left;
  margin:10px 0 0 444px;
}

.body_div{
  width:990px;
  height:auto;
  float:left;
  margin-top:18px;
  background:#09090a;
  padding-bottom:22px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
}

.body_div h1{
  width:950px;
  float:left;
  font-family:Oswald;
  font-size:24px;
  color:#fff;
  margin:22px 0 0 16px;
  font-weight:normal;
}

.body_div h1 font{
  width:950px;
  float:left;
  font-family:arial;
  font-size:15px;
  color:#9f9f9f;
  margin-top:5px;
}

.body_div_img{
  width:990px;
  height:auto;
  float:left;
  margin-top:28px;
}

.body_left{
  width:227px;
  height:297px;
  float:left;
  margin-left:16px;
  background:url('yelo_img.png') no-repeat;
}

.body_left h3{
  width:100%;
  height:72px;
  float:left;
  margin-top:5px;
  text-align:center;
}

.body_left ul{
  float:left;
  margin:15px 0 0 25px;
}

.body_left ul li{
  width:177px;
  list-style:none;
  float:left;
  background:url('line_img.jpg') bottom repeat-x;
}

.body_left ul li a{
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  color:#fff;
  line-height:28px;
  padding-left:20px;
  background:url('arro_img.png') left no-repeat;
}

.body_left ul li.none{
  background:none;
}

.body_left h2{
  width:196px;
  float:left;
  margin:22px 0 0 14px;
}

.middel{
  width:990px;
  height:auto;
  float:left;
  margin-top:18px;
  background:#09090a;
  padding-bottom:22px;
  -moz-border-radius:5px;
  border-radius:5px;
  /*border:solid 1px red;*/
}

.middel_left{
  width:256px;
  height:267px;
  float:left;
  margin:20px 0 0 13px;
  background:url('form_bg.png') no-repeat;
}

.middel_left h1{
  width:218px;
  float:left;
  font-family:Oswald;
  font-size:24px;
  color:#fff;
  margin:20px 0 0 15px;
  font-weight:normal;
}

.middel_left p{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#e58873;
  padding-top:5px;
  line-height:18px;
  margin:20px 0 0 15px;
}

.box
{
  width:186px;
  float:left;
  margin-left:20px;
  margin-top:30px;
}

.txt_box
{
  width:186px;
  height:28px;
  border:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#61625f;
  margin-bottom:12px;
  padding:0px 12px;
  background:url('txt-box.png') no-repeat;
}

.sus_btn
{
  width:73px; 
  height:27px;
  background:url('sus-btn.png') no-repeat;
  cursor:pointer;
  border:none;
}

.middel_right{
  width:642px;
  float:left;
  padding: 25px 25px 14px;
  background:#131516; 
  border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  margin:20px 0px 0px 16px;
}

.middel_right_left{
  width:166px;
  float:left;
}

.middel_right_right{
  width:450px;
  float:left;
  margin-left:25px;
}

.middel_right_right h1{
  font-family:Oswald;
  font-size:25px;
  color:#fff;
}

.middel_right_right h1 span{
  color:#f17d01;
}

.middel_right_right p{
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  color:#545454;
  line-height:20px;
  padding-top:12px;
}

.read_more_btn
{
  width:102px; 
  height:27px;
  background:url('read-more.png') no-repeat;
  cursor:pointer;
  border:none;
  margin-top:10px;
}

footer
{
  width:100%;
  height:327px;
  background:url('footer.jpg') center repeat-x;
  clear:both;
  bottom:0px;
}

.footer_inner
{
  width:990px;
  margin:0 auto;
  padding-top:22px;
}

.footer_inner_left
{
  width:462px;
  float:left;
}

.footer_inner_right 
{
  width:522px;
  float:left;
  padding-top:65px;
}


.footer_inner_right_left
{
  width:380px;
  float:left;
}

.footer_icon
{
  width:160px;
  float:left;
}

.footer_icon ul
{
  list-style:none;
  float:left;
}

.footer_icon ul li
{
  list-style:none;
  float:left;
  border:none;
  padding:0px 5px;
}

.footer_icon ul li a img
{
  border:none;
  outline:none;
}

.footer_menu
{
  width:380px;
  float:left;
  margin-top:27px;
}

.footer_menu ul
{
  float:left;
  list-style:none;
}

.footer_menu ul li
{
  list-style-image:url('divider.png');
  float:left;
  margin-right: 22px;
    padding: 0 13px;
}

.footer_menu ul li:first-child
{
  list-style:none;
}

.footer_menu ul li a
{
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#fff;
}

.footer_inner_right_right
{
  width:110px;
  float:right;
  margin-top:50px;
}

.footer_bottom
{
  width:380px;
  font-family:Oswald;
  font-size:13px;
  color:#fff;
  padding-top:15px;
  padding-left:13px;
  float:left;
}




div#container{
  margin: 0px auto 0px auto;
  width: 942px;
  text-align: left
}

h2{
  font-size: 18px;
  font-weight: bold;
  min-height: 32px;
}

.film
{
    float: left;
    padding: 15px;
}
.film img
{
    border: 1px solid #333;
}

.film img:hover
{
    border: 1px solid yellow;
}

.film .details
{
 
}

.hidden
{
   display: none;
}