// Place all the styles related to the Film controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.film_image
{
  float:left;
  padding-right:20px;
}
.film_details
{
  float:left;
  width:700px;
}

#tabs {
  width:auto;
  ul {
  padding: 2px;
  }
  div {
    float: left;
    min-height: 200px;
    clear:both;
    padding-left:14px;
    h3 {
      margin-bottom: 12px;
    }
  }
}
