// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "pricing_table";

$red: #C4292B;
$soft_grey: #525252;
$near_white:#E7E7E7;
$radius:15px;

.advert_left
{
  float:left;
  padding-right:15px;
  min-width:200px;
}
#limited{
  @include pricing_table;
}
#unlimited{
  @include pricing_table;
}
#online{
  @include pricing_table;
}


