<% @page_title = 'Online Film Rentals introductory guide' %>
<% @html_description ='Introduction to renting dvds online and different providers available' %>
<% @html_keywords ='Online film rental, guide, introduction online rental, by post, subscription' %>

<section class="guides">
    <h2>
        Introduction</h2>
    <p>
        “There this film, you’ve got to watch it!”</p>
    <p>
        And that’s it, you’re on the hunt to find this film. It’s a little bit quirky, you’re
        friends often try to outdo you on trying to be ‘in-the-know’, so it’s not going
        to be on at the regular cinemas, and the arthouse cinemas have stopped screening
        the films you wanted to see, just a few days before you found out they were on!</p>
    <p>
        Video shops, closed down all around you, nothing now but a memory of childhood experience,
        when you used to proudly boast about renting that 15 classified film at the age
        of 12. But all is not lost, you know there are other options to watch that film.
        You’re tech-savvy, you own a smart phone, perhaps even a tablet as well, got a computer,
        with a decent widescreen monitor and subscribe to a cable provider, but have limited
        packages, the movie pack just not appetising enough at the extra cost. You toyed
        with the idea of renting films online before, but you’re just not sure what your
        options are. So you searched the net and came here. Good on you.
    </p>
    <p>
        The online film rental market is growing. With even the likes of Google entering the
        market with their Google Play for Android devices, you can be sure it’s going to
        grow, and become increasingly competitive. There are already countless adverts for
        LOVEFiLM.com around, and the latest games consoles have the Netflix apps readily
        available. But what are the differences?</p>
    <p>
        There are 2 ways to rent</p>
    <p>
        <ul>
            <li>By Post – where you receive the actual physical DVD / BluRay in the post, which
                is akin to going to your local video shop</li>
            <li>Online – where you watch the film streamed to your preferred device, such as
                a computer, games console or tablet</li>
        </ul>
    </p>
    <p>
        The By Post option is a subscription option only, where you pay a monthly fee, whilst
        the online options can be either subscription based, or pay per view (PPV), which
        is similar to the On Demand service you get with certain cable providers like Virgin
        Media. The subscription package offers the best value for money but there are certain
        things to be aware of as detailed below.</p>
    <p>
        <table style="width: 100%">
            <tr>
                <td><%=link_to "<< Back to 'Guide'", guides_overview_path %> </td>
                <td style="text-align: right"><%= link_to "Continue to 'Subscription' >>", guides_monthlysubscription_path %> </td>
            </tr>
        </table>
    </p>
<section>