<% content_for :title, "Renting DVD's by post - signing up to a monthly subscription" %>
<% content_for :html_description, "Guide to renting movies online by post with a montly subscribtion for the online UK film and dvd rental, from various sites such as LOVEFiLM, Netflix, Blockbuster and Cinema Paradiso. Get the summary of online rentals here!" %>
<% content_for :html_keywords, "Monthly subscription, unlimited rentals per month, ways to rent online, Online rental, UK film rental, DVD rental, movies online, LOVEFiLM, Netflix, Blockbuster, CinemaParadiso, Tesco's, Easy DVD, HMV, Virgin Media, blinkbox, Summary, DVD rental comparison, best DVD rental site" %>
<section class="guides">
    <h2>
        Subcription based providers – monthly fee</h2>
    <p>
        A lot of the influential online and by post DVD / Blu-Ray rental providers , such
        LOVEFiLM and Blockbuster work by customers subscribing to a package suited best
        to the viewing habits. Each package varies in price.
    </p>
    <p>
        Subscribing to a By Post scheme</p>
    <p>
        If you have decided to rent by post, then there are two types of retnal packages to consider.
    </p>
        <ul>
            <li>Limited – you can only rent a number of movies per month, but you benefit
                from a lower monthly fee</li>
            <li>Unlimited – you can rent as many movies as you like a month, but pay for
                the privilege</li>
        </ul>

    <p>
        There is one remaining factor in the by post option to take into consideration,
        and that is you are only allowed to have a limited number of physical discs at any
        one time. The more you pay, the more discs you can have at once. For example, EasyCinema’s
        film rental, allows you to rent ten films a month, for £20.32 but you can only have
        3 films at any one time, On the otherhand, LOVEFiLM’s lowest fee at £5.99 a month
        allows you to rent 3 films a month but you can only have 1 film at any one time.
        Remember this when you thinking about an unlimited option as it would involve a
        lot of waiting for the post and trips to the postbox when sending the films back!
        Currently all by post providers cap the number of films you can rent at one time
        to three.</p>
    <p>
        For those wanting to rent online, then the main consideration is simply the monthly
        fee, though see ‘<%= link_to "further considerations", guides_things_to_consider_path %>’ for other things to think about when deciding,
        for example, Cinema Paradiso pride themselves on their World Cinema selection. One
        of the leaders in online streaming is Netflix at £5.99 month, though LOVEFiLM seem
        to outprice them at £4.99! It’s also worth mentioning here, the LOVEFiLM is currently
        the only company to provide both By Post and Online (LOVEFiLM Instants) service.</p>
    <p>
        <table style="width: 100%">
            <tr>
                <td>
                    <%= link_to "<< Back to 'Introduction'", guides_introduction_path %>
                </td>
                <td style="text-align: right"> <%= link_to "Continue to 'PPV' >>", guides_payperview_path %>
                </td>
            </tr>
        </table>
    </p>
</section>