<% @page_title = 'Online Film Rentals overview of renting films online in the UK' %>
<% @html_description ='A guide to renting films online, either by post or online, from provuders such as LOVEFiLM, Netflix and blinkbox' %>
<% @html_keywords ='online rentals, guide to film rentals, LOVEFiLM, renting dvds by post' %>

<section class="guides">
    <h1>Online Film Rental Guide</h1>
    <p>
        <ul>
            <li>
                Choose to rent films online, or receive them by post
            </li>
            <li>
                If By post, choose between unlimited vs limited rentals per month, depending on
                monthly cost
            </li>
            <li>
                For online viewing, pay either monthly for unlimited online watching, or pay per
                view (PPV)
            </li>
            <li>
                Some providers are powered by other film providers, so choice is not unique between
                sites e.g Tescos is powered by LOVEFiLM</li>
            <li>
                Things to consider: game rental included; trial period; film choice</li>
        </ul>
    </p>
    <h3>Quick Guide</h3>
    <p>
        Online rental is becoming more popular, with such sites as Netflix claiming over
        23 million users worldwide, it’s clear there is some decisions to be made about
        which provider to user</p>
    <p>
        There are essentially two ways to rent a film. By post, where you are sent the actual
        disc, or online, where you can watch it on your favourite device such as a PC, tablet
        or even Smart TV.</p>
    <p>
        By post offers the thrills of convential viewing, however, customers must pay a
        monthly fee which varies in cost from around £3.89 (2 films a month with Cinema
        Paradiso) to around £15 a month (unlimited rentals with Blockbuster). Whilst this
        is the most flexible option, it seems relatively expensive compared to the £5.99
        of unlimited online rentals with Netflix.</p>
    <p>
        The choice of medium may be dictated by personal preference. CinemaParadiso boasts
        an extensive World Cinema selection, but is by post only. LOVEFiLM is very competitively
        priced with both online and by post options, however, if you are thinking of also
        renting games, then Blockbuster offers a better price, with also its VIP ticket
        option to guarantee the film you want when choosing the by post option.</p>
    <p>
        <table style="width: 100%">
            <tr>
                <td><%= link_to 'Providers', compare_post_limited_path %> </td>
                <td style="text-align: right"><%= link_to "Continue to 'Introduction' >>", guides_introduction_path %>
                </td>
            </tr>
        </table>
    </p>
</section>