<% @page_title = 'Online Film Rentals guide to renting online films' %>
<% @html_description ='Pay per view and online streaming guide, and what options are available such as LOVEFiLM Instants' %>
<% @html_keywords ='online rentals, pay per view (PPV), LOVEFiLM Instants, Google Play, Netflix' %>

<section class="guides">
    <h2>
        Pay Per View (PPV)</h2>
    <p>
        It may be, that committing to a monthly subscription model isn’t your cup of tea,
        or perhaps you are a very casual watcher of movies, only renting when friends are
        round, or, you’re just worried you’ll forget to cancel the free trial and continue
        to be billed for months without realising!</p>
    <p>
        Paying on demand, has been a common service format for some years, with one of the
        original providers, Sky, still doing so with their Box Office events. However, the
        film market has been open for some years now, and Virgin Media’s OnDemand service,
        powered by FilmFlex, offers over 1000’s of movies to choose from.</p>
    <p>
        Google Play, which was Google Market, offers PPV films and is perhaps appropriate
        for those comfortable with the Google services. Virgin Media offer a separate online
        PPV service to their cable services, roughly costing around £3.49 a film. Another
        providers, is blinkbox, which proudly boasts “the newest Blockbuster films months
        or even years before they become available as part of subscription services like
        LOVEFiLM or Netflix”. You can also buy films on their site too.</p>
    <p>
        <table style="width: 100%">
            <tr>
                <td>
                    <%= link_to "<< Back to 'Subscription'", guides_monthlysubscription_path %>
                </td>

                <td style="text-align: right"> <%= link_to "Continue to 'Further Considerations' >>", guides_things_to_consider_path %>
                </td>
            </tr>
        </table>
    </p>
</section>