<% content_for :title, "Summary" %>
<% content_for :html_description,  "Summary to renting movies online for the UK film and dvd rental providers, from various sites such as LOVEFiLM, Netflix, Blockbuster and Cinema Paradiso. Get the summary of online rentals here!" %>
<% content_for :html_keywords, "Onlinde DVD Rental summary, unlimited rentals per month, ways to rent online, Online rental, UK film rental, DVD rental, movies online, LOVEFiLM, Netflix, Blockbuster, CinemaParadiso, Tesco's, Easy DVD, HMV, Virgin Media, BlinkBox , Summary, DVD rental comparison, best DVD rental site" %>
<section class="guides">
    <h2>
        Summary</h2>
    <p>
        It’s not so straight forward huh? But, that’s why you read this guide, and hopefully,
        you have a better understanding and can make more of an informed decision.
    </p>
    <p>
        There are lot of things to consider but as reminder, here's the core bullet points
        to think about:</p>
    <ul>
        <li>Distribution Method: Post or Online</li>
        <li>Rentals Allowed (By Post only): Limited vs Unlimited, but both limit the number
            of films you can have at once</li>
        <li>Payment: Montly Subscription or Pay Per View</li>
        <li>Powered by: LOVEFiLM / FilmFlex or is unique</li>
        <li>Games rental</li>
        <li>How long it takes before the site provides latest releases</li>
    </ul>
    <p>
    That reminds me...there's this movie...
    </p>
    <p>
        <table style="width: 100%">
            <tr>
                <td><%= link_to "<< Back to 'Considerations'", guides_things_to_consider_path %>
                </td>
                <td style="text-align: right"><%= link_to "Providers", compare_post_limited_path %>
                </td>
            </tr>       
        </table>
    </p>
</section>
