<% @page_title = 'Online Film Rentals summary to films online' %>
<% @html_description ='Summary of renting films online and keypoints based on Online Film Rentals guide' %>
<% @html_keywords ='online film rental summary, guide, things to consider' %>

<section class="guides">
    <h2>
        Summary</h2>
    <p>
        It’s not so straight forward huh? But, that’s why you read this guide, and hopefully,
        you have a better understanding and can make more of an informed decision.
    </p>
    <p>
        There are lot of things to consider but as reminder, here's the core bullet points
        to think about:</p>
    <ul>
        <li>Distribution Method: Post or Online</li>
        <li>Rentals Allowed (By Post only): Limited vs Unlimited, but both limit the number
            of films you can have at once</li>
        <li>Payment: Montly Subscription or Pay Per View</li>
        <li>Powered by: LOVEFiLM / FilmFlex or is unique</li>
        <li>Games rental</li>
        <li>How long it takes before the site provides latest releases</li>
    </ul>
    <p>
        <table style="width: 100%">
            <tr>
                <td><%= link_to "<< Back to 'Considerations'", guides_things_to_consider_path %>
                </td>
                <td style="text-align: right"><%= link_to "Providers", compare_post_limited_path %>
                </td>
            </tr>       
        </table>
    </p>
</section>
