<% content_for :title, "Things to consider" %>
<% content_for :html_description,  "Things to consider about online UK film and dvd rental, from various sites such as LOVEFiLM, Netflix, Blockbuster and Cinema Paradiso. Get the summary of online rentals here!" %>
<% content_for :html_keywords, "Points of concern, things to consider, Online rental, UK film rental, DVD rental, movies online, LOVEFiLM, Netflix, Blockbuster, CinemaParadiso, Tesco's, Easy DVD, HMV, Virgin Media, blinkbox , Summary, DVD rental comparison, best DVD rental site" %>
<section class="guides">
    <h2>
        Further Considerations</h2>
    <p>
        It's not all about movies. Both Blockbuster and LOVEFiLM offer games rental too.
        With LOVEFiLM you have to pay a little extra, but it’s included in the unlimited
        fee with Blockbuster, which could put this provider in strong favour for the games
        enthusiasts. There are a limited number of film distributors, and you will find
        that what may be a unique online rental provider, is in fact just another access
        point to the same distributor as another, for example, Tesco’s rental is powered
        by LOVEFiLM, and Virgin Media is powered by FilmFlex which also powers HMV’s online
        DVD rental, so don’t always expect different film choices from providers!</p>
    <p>
        Cinema Paradiso, stands out from the others in its film selection, claiming “…to
        have the most comprehensive selection of World Cinema so enjoy the films from Argentina
        to Vietnam!”, and a thriving online community, whilst there seems to be some criticism
        pointed at Netflix for it’s limited selection and streaming quality</p>
    <p>
        Importantly, consider film choice, and whether the provider is showing latest releases
        or if you are likely to wait longer than if you were perhaps subscrived to a PPV service.
    </p>
    <p>
        One last thing to consider is device computability if you choose an online provider.
        Make sure the provider can stream to your device! Most, apart from Google, stream
        to all modern devices, including SmartTV, but it’s best to check before you sign
        up!</p>
        
    <p>
        <table style="width: 100%">
            <tr>
                <td>
                    <%= link_to "<< Back to 'PPV'", guides_payperview_path %> </td>
                <td style="text-align: right"><%= link_to "Continue to 'Summary' >>", guides_summary_path %>
                </td>
            </tr>
        </table>
    </p>
</section>